/* reset style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google fonts  */
body {
  background: #0c1014 !important;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
/* common style  */
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}

